@model pnthanh_k22cntt_2210900066_prj2.Models.GioHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GioHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.soLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.tenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.tenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPham.tenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.tenSanPham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id.ToString() }) |
    @Html.ActionLink("Back to List", "Index")
</p>
