@model pnthanh_k22cntt_2210900066_prj2.Models.DonHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.tenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.tenKhachHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id.ToString() }) |
    @Html.ActionLink("Back to List", "Index")
</p>
